<h1 class="main-head primary-text text-center font-weight-bold text-primary">Questions</h1>
<div id="allq">
  <% @questions.each_with_index do |ques,index| %>
    <div class="question">
      <div class="ques">
        <p><%= "Q#{index + 1}. " + ques.question.question %></p>
        <p class="ans">
          <%# Asked by Pratap on <span id="q_time">16 th July 2020</span> %>
        </p>
      </div>
      <div class="score">
        <% @questions.each_with_index do |ques,index| %>
          <button class="score-btn" id=<%= "score-#{index+1}" %>>
            <%= index + 1 %>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
